@import 'reset';
@import 'variables';
@import 'weather/weather-today';
@import 'weather/weather-week';

body,
html {
    font-size: 10px;
    font-family: 'Poppins',
        sans-serif;
    ;
    background-color: grey;

}