.news-app {
    width: 650px;
    height: 439px;
    display: flex;
    flex-direction: row;
    align-items: center;
    // justify-content: stretch;
    background-color: $main-bgc-color;
    border-radius: $border-radius-app;
}


.nav-news {
    height: 100%;
    width: 25.5%;
    // padding: 0 7.6% 0 3.8%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $main-bgc-color-light;
    border-radius: 24px;




    &__list {
        height: 71.7%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 1.5rem;
    }

    &__item {
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;
        transition: 0.2s ease-in-out;

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 105%;
            height: 5px;
            width: 5px;
            border-radius: 50%;
            background-color: $white-main-color;
            transform: translate(-50%, -50%);
            opacity: 0;
        }


        &--active {
            color: $white-main-color;
            transition: 0.2s ease-in-out;
            position: relative;

            &::after {
                opacity: 1;
            }

            .nav-news__icon rect {
                fill: $white-main-color;
                transition: 0.2s ease-in-out;
            }
        }
    }

    &__name {
        padding: 10px;
    }

    &__icon {
        width: 25px;
    }
}