.news-app {
    width: 328px;

    @media (min-width: $breakpoint-mobile-big) {
        width: 650px;
        height: 439px;
        flex-direction: row;
    }

    height: 474px;
    display: flex;
    flex-direction: column;

    align-items: center;
    // justify-content: stretch;
    background-color: $main-bgc-color;
    border-radius: $border-radius-app;
}


.nav-news {
    @media (min-width: $breakpoint-mobile-big) {
        height: 100%;
        width: 25.5%;
        border-radius: 24px;
    }

    width: 100%;
    height: 10.5%;

    // padding: 0 7.6% 0 3.8%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $main-bgc-color-light;
    border-radius: 14px;




    &__list {
        @media (min-width: $breakpoint-mobile-big) {
            height: 71.7%;
            width: auto;
            flex-direction: column;
        }

        width: 75%;

        display: flex;
        justify-content: space-between;

        font-size: 1.5rem;
    }

    &__item {
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;
        transition: 0.2s ease-in-out;

        @media (min-width: $breakpoint-mobile-big) {
            &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 105%;
                height: 5px;
                width: 5px;
                border-radius: 50%;
                background-color: $white-main-color;
                transform: translate(-50%, -50%);
                opacity: 0;
            }
        }



        &--active {
            color: $white-main-color;
            transition: 0.2s ease-in-out;
            position: relative;

            &::after {
                opacity: 1;
            }

            .nav-news__icon rect {
                fill: $white-main-color;
                transition: 0.2s ease-in-out;
            }
        }
    }

    &__name {
        display: none;

        @media (min-width: $breakpoint-mobile-big) {
            padding: 10px;
            display: block;
        }
    }

    &__icon {
        width: 25px;
    }
}