.weather {
    background-color: $weather-bgc-color;
    max-width: 420px;
    height: 518px;

    &-today {
        color: $weather-text-color;
        width: 83%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr auto;

        &__localization {
            grid-column: 1/2;
            grid-row: 1/2;

            &-city {
                font-size: 2.6rem;
            }

            &-country {
                font-size: 2.6rem;
                font-weight: 200;
            }
        }

        &__date {
            grid-column: 1/2;
            grid-row: 2/3;

            font-size: 1.8rem;
            font-weight: 200;
        }

        &__cycle {
            grid-column: 2/3;
            grid-row: 1/3;

            font-size: 1.5rem;
            font-weight: 200;
        }
    }
}