.weather {
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    background-color: $white-main-color;
    background: radial-gradient(50% 50% at 50% 50%, rgba(36, 66, 70, 0.87) 0%, #244246 59.9%);
    width: 175px;
    height: 129px;
    z-index: 0;
    color: $weather-text-color;
    border-radius: 23px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (min-width: $breakpoint-mobile) {
        background: $white-main-color;
        width: 420px;
        max-width: 420px;
        max-height: 518px;
        height: 518px;
    }


    .container-today-weather {
        background-position: center;
        // background: radial-gradient(50% 50% at 50% 50%, rgba(36, 66, 70, 0.87) 0%, #244246 59.9%);
        border-radius: 22px;
        height: auto;


        justify-content: space-evenly;

        @media (min-width: $breakpoint-mobile) {
            justify-self: self-end;
            justify-content: space-between;
            height: 65.5%;
            background-image: url(../images/weater-svg-bgc.png);
            background-position: top;
            background-repeat: no-repeat;
            background-size: 101%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

    }

    &-today {
        width: 83%;
        margin: 0 auto;

        @media (min-width: $breakpoint-mobile) {
            margin: 7.5% auto 0 auto;
        }

        display: grid;
        grid-template-columns: 1fr auto;
        z-index: 1;
        grid-row-gap: 5px;

        @media (min-width: $breakpoint-mobile) {
            grid-row-gap: 10px;
        }

        &__localization {
            grid-column: 1/2;
            grid-row: 1/2;

            &-icon {
                width: 13px;

                @media (min-width: $breakpoint-mobile) {
                    width: 20px;
                }
            }

            &-city {
                font-size: 2.6rem;
                padding: 0 5px;
            }

            &-country {
                font-size: 2.6rem;
                font-weight: 200;
            }
        }

        &__date {
            grid-column: 1/2;
            grid-row: 2/3;

            font-size: 1.8rem;
            font-weight: 200;

            &-name {
                margin-left: 20px;

                @media (min-width: $breakpoint-mobile) {
                    margin-left: 0;
                }
            }
        }

        &__cycle {
            grid-column: 2/3;
            grid-row: 1/3;

            @media (min-width: $breakpoint-mobile) {
                display: flex;
            }

            display: none;
            flex-direction: column;
            justify-content: space-between;

            font-size: 1.5rem;
            font-weight: 200;
        }
    }

    &-temperature {


        @media (min-width: $breakpoint-mobile) {
            margin: 0 auto 24% auto;

        }

        width: 90%;

        margin: 0 auto;
        justify-content: flex-end;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 1.3rem;

        &__icon {
            width: 42%;
            order: 1;

            @media (min-width: $breakpoint-mobile) {
                order: 0;
                width: 32%;
            }

        }

        &__number {
            font-size: 3.6rem;
            display: flex;

            &-celsjusz {
                font-size: 9rem;
            }
        }

        &__property {
            @media (min-width: $breakpoint-mobile) {
                display: flex;
            }

            display: none;
            flex-direction: column;
            margin-left: auto;

            &-humidity {
                padding-bottom: 5px;

                &--bold {
                    font-weight: 600;
                }
            }

            &-wind {
                padding-bottom: 5px;

                &--bold {
                    font-weight: 600;
                }
            }

            &-pressure {
                padding-bottom: 5px;

                &--bold {
                    font-weight: 600;
                }
            }
        }
    }
}