.weather {
    position: relative;
    background-color: $white-main-color;
    background: radial-gradient(50% 50% at 50% 50%, rgba(36, 66, 70, 0.87) 0%, #244246 59.9%);
    z-index: 0;
    color: $weather-text-color;
    border-radius: $border-radius-app;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;


    background: $white-main-color;
    width: 420px;
    max-width: 420px;
    max-height: 518px;
    height: 518px;

    @media (max-width: $breakpoint-mobile) {
        width: 320px;
        height: 394px;
    }


    &-map {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, 60%);
        width: 100%;
        height: 80%;
        background: $main-bgc-color-light;
        z-index: 3;
        transition: ease-in-out 0.3s;
        border-radius: 13px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        &__inside {
            width: 90%;
            height: 90%;
            margin: 0 auto;
            border-radius: 13px;
        }

        &--active {
            transform: translate(-50%, -50%);
        }
    }


    .container-today-weather {
        justify-self: self-end;
        justify-content: space-between;
        height: 65.5%;
        background-image: url(../images/weater-svg-bgc.png);
        background-position: top;
        background-repeat: no-repeat;
        background-size: 101%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-today {
        width: 83%;
        margin: 7.5% auto 0 auto;

        display: grid;
        grid-template-columns: 1fr auto;
        z-index: 1;
        grid-row-gap: 10px;


        &__localization {
            grid-column: 1/2;
            grid-row: 1/2;

            &-icon {
                width: 20px;

                @media (max-width: $breakpoint-mobile) {
                    width: 15px;
                }
            }

            &-city {
                font-size: 2.6rem;
                padding: 0 5px;
            }

            &-country {
                font-size: 2.6rem;
                font-weight: 200;
            }
        }

        &__date {
            grid-column: 1/2;
            grid-row: 2/3;

            font-size: 1.8rem;
            font-weight: 200;

            &-name {
                margin-left: 0;
            }
        }

        &__cycle {
            grid-column: 2/3;
            grid-row: 1/3;
            display: flex;


            flex-direction: column;
            justify-content: space-between;

            font-size: 1.5rem;
            font-weight: 200;

        }

        &__sunrise-icon {
            width: 20px;

            @media (max-width: $breakpoint-mobile) {
                width: 15px;
            }
        }

        &__sunset-icon {
            width: 20px;

            @media (max-width: $breakpoint-mobile) {
                width: 15px;
            }
        }
    }

    &-temperature {
        margin: 0 auto 24% auto;

        width: 90%;
        justify-content: flex-end;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 1.3rem;

        &__icon {
            order: 0;
            width: 32%;
        }

        &__number {
            font-size: 3.6rem;
            display: flex;

            &-celsjusz {
                font-size: 9rem;
            }
        }

        &__property {
            display: flex;

            flex-direction: column;
            margin-left: auto;

            &-humidity {
                padding-bottom: 5px;

                &--bold {
                    font-weight: 600;
                }
            }

            &-wind {
                padding-bottom: 5px;

                &--bold {
                    font-weight: 600;
                }
            }

            &-pressure {
                padding-bottom: 5px;

                &--bold {
                    font-weight: 600;
                }
            }
        }
    }
}